@model DigitalKey

@{
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
}

<div class="prod-card my-3">
    <div class="row">
        <div class="col-3">
            <a asp-controller="Product" asp-action="Index" asp-route-id="@Model.Id">
                <img src="~/img/books/@Model.PictureUri" class="card-img-top " alt="@Model.PictureUri">
            </a>
        </div>
        <div class="col">
            <div class="prod-details d-block flex-end">
                <div class="row mb-4 ">
                    <div class="col">
                        <h4><a class="h2" asp-controller="Product" asp-action="Index"
                                asp-route-id="@Model.Id">@Model.Name</a>
                        </h4>
                    </div>
                    <div class="col text-end" style="cursor: pointer;">
                        <form method="post">
                            <button class="btn btn-danger mt-2" type="submit" asp-page-handler="delete"
                                asp-route-id="@Model.Id">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="row py-4">
                    <div class="prod-bottom-details d-flex justify-content-between">
                        <div class="prod-price">
                            <div class="row ">
                                @if (@Model.Discount > 0)
                                {
                                    <small>@Model.FullPrice</small> @Model.DiscountedPrice.ToString("N2") <div>руб.</div>

                                }
                                @if (@Model.Discount == 0)
                                {
                                    <p>@Model.FullPrice руб.</p>
                                }
                            </div>
                        </div>
                        <div class="row ">
                            <a asp-controller="Basket" asp-action="AddToCart" asp-route-id="@Model.Id"
                                 class="btn btn-success  mt-2">
                                <i class="fa-solid fa-cart-shopping"></i> Добавить в корзину
                            </a>
                            <a asp-controller="Product" asp-action="Index" asp-route-id="@Model.Id"
                                class="btn btn-success  mt-2">
                                <i class="fa-solid fa-shop"></i> Открыть страницу в каталоге</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
