@model CheckOutViewModel

<form class="row g-3" asp-controller="Order" asp-action="PlaceOrder" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

    <input type="hidden" asp-for="@Model.BuyerId" />
    <input type="hidden" asp-for="@Model.OrderItems" />
    <div class="col-md-6">
        <label for="inputname" class="form-label">Имя</label>
        <input type="text" asp-for="@Model.FirstName" class="form-control" placeholder="Иван" id="inputname">
        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="inputlastname" class="form-label">Фамилия</label>
        <input type="text" asp-for="@Model.LastName" placeholder="Иванов" class="form-control" id="inputlastname">
        <span asp-validation-for="@Model.LastName" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="inputEmail" class="form-label">Эл. почта</label>
        <input type="email" placeholder="ivanov@example.com" asp-for="@Model.Email" class="form-control"
            id="inputEmail">
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="inputNumber" class="form-label">Номер телефона</label>
        <input type="tel" asp-for="@Model.PhoneNumber" placeholder="80297846598" class="form-control" id="inputNumber">
        <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
    </div>

    <input type="submit" value="Оформить заказ" class="btn btn-success btn-block mt-4" />
</form>