@model OrderItemViewModel

@{
    var discount = Model.Discount == 0 ? "-" : $"{(Model.Discount * 100).ToString("N0")}%";
}

<div class="card shadow-1 border-2 mb-2 card-hover">
    <div class="card-body">
        <div class="row">

            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                <a class="nav-link" asp-controller="Product" asp-action="Index" asp-route-id="@Model.ProductId">
                    <p class="text-muted mb-0">@Model.ProductName</p>
                </a>
            </div>
            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                <p class="text-muted mb-0 small">@Model.Units шт.</p>
            </div>

            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                <p class="text-muted mb-0 small">@discount</p>
            </div>

            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                <p class="text-muted mb-0 small">@Model.FullPrice.ToString("N2") руб.</p>
            </div>
            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                <p class="text-muted mb-0 small fw-bold">@Model.DiscountedPrice.ToString("N2") руб.</p>
            </div>
        </div>

    </div>
</div>