@model CatalogItemViewModel

@{
    string iconType = Model.IsFavourite ? "fa-solid fa-heart text-danger" : "fa-regular fa-heart text-danger";
    var request = ViewContext.HttpContext.Request;
    string returnUrl = request.Path + request.QueryString.ToUriComponent();
}

<div class="col-12 col-md-4 mb-4 ">
    <div class="card h-100 ">
        <div class="row">
            <div class="col-10 text-center">
                <a asp-controller="Product" class="text-center" asp-action="Index" asp-route-id="@Model.Id">
                    <img src="~/img/books/@Model.PictureUri" class="card-img-top " alt="...">
                </a>
            </div>
            <div class="col-1">
                <button onclick="updateFavourite('@Model.Id')" class="btn text-white" title="Добавить в избранные">
                    <div id="favIcon-@Model.Id">
                        <i class="@iconType "></i>
                    </div>
                </button>
            </div>
        </div>
        <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
                <li class="text-muted text-right">
            @if (Model.IsOnDiscount)
            {
                <p class="text-center mb-0"><small class="text-danger" style="text-decoration: line-through;">@Model.Price
                        руб.</small>
                    @Model.DiscountedPrice
                    руб.</p>
            }
            else
            {
                <p class="text-center mb-0">@Model.Price руб.</p>
            }
                </li>
            </ul>

                <h1 class="h3">@Model.Name

                </h1>
            <p class="card-text">
            </p>
        </div>
    </div>
</div>
